@import 'variable';
h1{
    font-size: 1em;
    color: $blue-color;
    text-align: center;   
 
}
 .khoahoc img {
      width: 258px;
      height: 172px;
 }
 .can-giua {
     text-align: center;
 }

 .user-avatar {
     width: 28px;
     height: 28px;
     border-radius: 50%;
     margin-right: 4px;
 }

 .body-app {
     margin-top: 56px !important;
 }